#logo {
	float: left;
}

#content {
	background-color: #666;
	width: 1400px;
	height: 900px;
	color: #999;
	font-family: Tahoma, Geneva, sans-serif;
	padding-left: 40px;
	font-stretch: normal;
	word-spacing: normal;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
}
