#logo {
	float: left;
}

.thumbnail{
	Background-color: #FC3;
	
}

.thumbnail a{
	color: #FFF;
	height: 100px;
}

footer{
	background-color: #000000;
	height: 225px;
	color: White;
	float: left;
	margin-top: 300px;
}

footer a{
	color:White;
}

footer a:active{
color:#FC3;	
}

.jumbotron{
	background-color: #000;
	font-style: normal;
	font-weight: bolder;
	color: #FC3;
	text-decoration: underline;
}

span:hover{
	background-color:Black;
	color:#FC3;
}

.premium:hover{
	background-color:#C00;
	color:#FC3
}

.popular:hover{
	background-color:#FC3;
	color:#C00;
}

.vip:hover{
	background-color:#93F;
	color:#FFF;
}

.VIP{
	Background-color: #FC3;
	color: Black;
	text-decoration: none;
}

.ftr a{
	background-color: #000;
	color: #FFF;
}

ftr{
	color: White;
	background-color: #000;
}

.popular{
	border-top-color: #FC3;
	
}

.exlsve{
	Background-color: #FC3;
	color: Black;
	text-decoration: none;
	border: solid;
}

.royalty:hover{
	Background-color:#6CF;
	color:#FFF;
	text-decoration: none;
}
