body {
	padding-top: 67px;
}

footer {
	padding-bottom: 25px;
}

#logo {
	float: left;
	width: 48px;
}

#contact-buttons {
	text-align: center;
	padding-top: 16px;
}

#social-button {
	width: 64px;
}
